@font-face {
  font-family: TT Hoves;
  font-weight: 500;
  src: url(assets/fonts/TTHovesMedium.otf);
}

@font-face {
  font-family: TT Hoves;
  font-weight: bold;
  src: url(assets/fonts/TTHovesBold.otf);
}
