@font-face {
    font-family: TT Hoves;
    font-weight: 500;
    src: url(assets/fonts/TT\ Hoves\ Medium.otf);
}

@font-face {
    font-family: TT Hoves;
    font-weight: bold;
    src: url(assets/fonts/TT\ Hoves\ Bold.otf);
}